.hero-section {
  margin-left: 100px;
  height: 100vh;
  overflow: hidden;
}

.hero-section img {
  height: 100vh;
  object-fit: cover;
  animation: zoom-in-out 6s infinite alternate;
}

.hero-text {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 2rem;
  z-index: 1;
  color: black;
  font-weight: bold;
  animation: slide-up 1.5s ease-out;
}

/* Sticky Icon Base Style */
.sticky-icon {
  position: fixed;
  z-index: 9999;
  color: green;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}


.sticky-icon:hover {
  transform: scale(1.1);
}

/* WhatsApp - bottom left */
.whatsapp-icon {
  bottom: 20px;
  left: 20px;

}

.whatsapp-icon a {
  color: green;

}

/* Call - bottom right */
.call-icon {
  bottom: 20px;
  right: 20px;
}


/* Animations */
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 767.98px) {

  .hero-section {
    margin-left: 60px;
  }

  .hero-text {
    font-size: 1.2rem;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 575.98px) {

  .hero-section {
    margin-left: 0;
    margin-top: 60px;
  }

  .hero-text {
    font-size: 1rem;
    bottom: 15px;
    right: 15px;
  }
}